<kode-widget
  title="Demo Widget"
  (showMore)="demoShowMore()"
  (showSettings)="demoShowSettings()"
>
  <ng-container content>
    <kode-demo-widget></kode-demo-widget>
  </ng-container>
  <ng-container settings>
    <p>Test Settings</p>
    <!-- <kode-demo-widget-settings></kode-demo-widget-settings> -->
  </ng-container>
</kode-widget>
<kode-widget title="Test 2">
  <ng-container content>
    <p>Test 2 Inhalt</p>
  </ng-container>
  <ng-container settings>
    <p>Test 2 Settings</p>
  </ng-container>
</kode-widget>
